<%- include('./layout')%>


<div class="am-g bdfw_nr">
    <ol class="am-breadcrumb bdfw_link">
        <li><a href="/admin/category"><%= optionMessage.location %></a></li>
        <li class="am-active"><%= optionMessage.option %></li>
    </ol>
<section>
    <div class="am-panel am-panel-success">
        <div class="am-panel-hd">
            <h3 class="am-panel-title">成功提示~</h3>
        </div>
        <div class="am-panel-bd">
            <p><%= optionMessage.message %></p>
        </div>
        <div class="am-panel-footer"><a href="<%= url %>"><%= optionMessage.href %></a></div>
    </div>
</section>
</div>

<%-  include('./footer') %>

