<%- include('../layout') %>

<div class="am-g bdfw_nr">
    <% if(userInfo.isAdmin){ %>
    <ol class="am-breadcrumb bdfw_link">
        <li><a href="/admin/user">用户管理</a></li>
        <li class="am-active">用户信息</li>
    </ol>
    <% }else{ %>
    <ol class="am-breadcrumb bdfw_link">
        <li><a href="/admin/user">我的文章</a></li>
        <li class="am-active">文章列表</li>
    </ol>
    <% } %>
<section>
<% if(userInfo.isAdmin){ %>
<table class="am-table am-table-bordered am-table-striped am-table-hover" style="background:#e5e4e9">
    <thead>
    <tr>
        <!--<th>ID</th>-->
        <th>用户</th>
        <th>密码</th>
        <th>管理员</th>
    </tr>
    </thead>
    <tbody>
    <% for(let i=0;i<results.length;i++){ %>
    <tr>
        <!--<td><%= results[i]._id %></td>-->
        <td><%= results[i].username %></td>
        <td><%= results[i].password %></td>
        <td><%= results[i].isAdmin?'是':'否' %></td>
    </tr>
    <% } %>
    </tbody>
</table>
        <div class="am_news_load">
            <div class="am_news_load" style="background:#f4f4f4">
                <ul data-am-widget="pagination"
                    class="am-pagination am-pagination-select">
                    <li class="am-pagination-prev ">
                        <a href="/admin/user?page=<%= page-1%>" class="">上一页</a>
                    </li>
                        <li class="am-pagination-select">
                            <select>
                                <option value="#" class="">
                                    <%= page %> / <%= pageMax %>
                                </option>

                            </select>
                        </li>
                    <li class="am-pagination-next ">
                        <a href="/admin/user?page=<%= page+1 %>" class="">下一页</a>
                    </li>
                </ul></div>
        </div>
<% }else{ %>
<% for(let i=0;i<results.length;i++){ %>
      <% if(results[i].author.username==userInfo.username){ %>
      <article data-am-widget="paragraph" class="am-paragraph am-paragraph-default article_nr"
                     data-am-paragraph="{ tableScrollable: true, pureview: true }">
      <h1 class="article_nr_title"><%= results[i].title %></h1>

      <div class="article_nr_content">
                    <p class=paragraph-default-p><%= results[i].description %></p>
      </div>
      <div class="article_nr_more_r">
                    <a class="am-btn am-btn-link" href="/view?contentId=<%= results[i]._id%>"><span class="am-badge am-badge-secondary am-round am-text-default"><%= results[i].category.name %></span>&nbsp;&nbsp;阅读全文</a>
      </div>
      <div class="article_nr_more">
      </div>
      </article>
      <% } %>
<% } %>
<% } %>
</section>
</div>


<%- include('../footer') %>